.productImage {
  height: 100px;
  width: 102px;
  border: 1px solid black;
  border-radius: 50%;
  float: left;
  margin-right: 14px;
}
.userDeatailCss {
  margin-top: 44px;
}

.button-20 {
  appearance: button;
  background-color: #4d4ae8;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid #4d4ae8;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-left: 29%;
  margin-bottom: 31px;
}

.button-20:focus:not(:focus-visible),
.button-20:focus {
  outline: 0;
}

.button-20:hover {
  background-color: #3733e5;
  border-color: #3733e5;
}

.button-20:focus {
  background-color: #413fc5;
  border-color: #3e3bba;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}

.button-20:active {
  background-color: #3e3bba;
  background-image: none;
  border-color: #3a38ae;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-20:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset,
    rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}

.button-20:disabled {
  background-image: none;
  box-shadow: none;
  opacity: 0.65;
  pointer-events: none;
}

.inputFiledForName {
  text-align: left;
  /* height: 62%; */
  height: 48px;
  float: left;
  font-size: 21px;
  padding-left: 19px;
}
.inputFiledForLastName {
  text-align: left;
  /* height: 62%; */
  height: 48px;
  float: right;
  font-size: 21px;
  padding-left: 19px;
}
.inputFiledForAddress {
  text-align: left;
  /* height: 62%; */
  height: 48px;
  float: left;
  font-size: 21px;
  padding-left: 19px;
  margin-top: 15px;
}
.inputFieldForPincode {
  text-align: left;
  /* height: 62%; */
  height: 48px;
  float: right;
  font-size: 21px;
  padding-left: 19px;
  margin-top: 15px;
}
.nameField {
  float: left;
  margin-right: 15px;
  margin-left: 63px;
}
.lastNameCss {
  margin-top: -24px;
  float: right;
  margin-right: 26%;
  margin-bottom: -1px;
  font-size: 17px;
}
.addressFieldCss {
  margin-top: 88px;
  font-size: 17px;
  margin-bottom: -13px;
}

.pinCodeCss {
  margin-top: -14px;
  font-size: 17px;
  float: right;
  margin-right: 26%;
  margin-bottom: -15px;
}
